:root {
  --purple: #6f42c1;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --teal: #20c997;
  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --gray-100: #f8f9fa;
  --gray-200: #e9ecef;
  --gray-300: #dee2e6;
  --primary: #0d6efd;
  --secondary: #6c757d;
  --success: #198754;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;
  --dark: #212529;
  --font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --body-font-family: var(--font-sans-serif);
  --body-font-size: 1rem;
  --body-font-weight: 400;
  --body-line-height: 1.5;
  --body-color: #212529;
  --body-bg: #fff;
}

html,
body {
  height: 100%;
  font-size: 62.5%;
}
/**
* font size universal
* 1 rem = 10px
* 0.1 rem = 1px
*/

body {
  background-color: var(--body-color);
  color: var(--light);
  margin: 0;
  font-family: var(--body-font-family);
  font-size: var(--body-font-size);
  font-weight: var(--body-font-weight);
  line-height: var(--body-line-height);
  text-align: var(--body-text-align);
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}

header {
  background: var(--gray-dark);
  height: 50px;
  align-items: center;
  text-align: center;
  margin-bottom: 10px;
}

header .brand {
  font-size: 2.8rem;
  font-weight: 500;
}

.container {
  margin: 0 auto;
  padding-left: 10px;
  width: 80%
}

.main-content {
  display: flex;
  flex-direction: row;
}

#gallery {
  height: 300px;
  width: 100%;
  position: relative;
}

#gallery img {  
  max-height: 100%;
  max-width: 100%;
}

#img-link {
  color: var(--white);
}

#pico-day {
  width: 50%;
  padding: 10px;
}

.media-content .title {
  font-weight: 800;
  font-size: 2rem;
}

.media-content .date-taken {
  font-weight: 600;
  font-size: 1.5rem;
}


.container .content {
  text-align: justify;
  font-size: 1.4rem;
}

.findImage {
  display: block;
  padding: 10px;
  margin: 20px;
  font-size: 15px;
}

.find-image button {
  background-color: var(--gray-dark);
  color: #fff;
  width: 100px;
  padding: 8px;
  font-size: 2rem;
}

#neo-data {
  margin-left: 10px;
  margin-bottom: 10px;
  width: 100%;
  border: 1px solid var(--light);
  font-size: 1.4rem;
}

.neo-head {
  margin-left: 2%;
}

#object-table {
  width: 80%;
  margin-left: 10%;
  text-align: center;
  padding-bottom: 20px;
}

th {
  border-bottom: solid 1px var(--light);
  font-size: 1.8rem;
}

td {
  border-bottom: solid 1px var(--light);
  font-size: 1.6rem;
}


/**
* APOD Search Result
*/
#searchResult {
  height: 400px;
  overflow-y: auto;
  word-wrap: break-word;
  padding: 8px;
}

#searchResult img {
  width: 50px;
  margin-right: 10px;
  vertical-align: middle;

}

#searchResult .result-item {
  margin: 3px 0;
  padding: 5px;
  border: 1px solid var(--light);  
  cursor: pointer;
  font-size: 15px;
}

